@model IEnumerable<Publess.Core.Data.Post>

<a asp-controller="Post" asp-action="CreateEdit">Add</a>

<table>
    <tr><th>PostTitle</th></tr>

@foreach (var post in Model)
{
    <tr>
        <td>@post.PostTitle</td>
    </tr>

}
</table>